html, body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	position: relative;
}

.scene-audio {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&__audio {
		display: none;
	}

	&__visualizer {
		width: 100%;	
	}
}

#play, #pause, #stop {
	position: fixed;
	left: 20px;
	z-index: 20;
}

#play {
	top: 20px;
}

#pause {
	top: 40px;
}

#stop {
	top: 60px;
}

